/* CUSTOM SCSS STYLESHEET */
/***********************
    IMPORTED FONTS
***********************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/***********************
    VARIABLES
***********************/
/***********************
    MIXINS
***********************/
/************************
    DEFAULTS
************************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fbf7ed; }

p, ul, li {
  font-size: 14px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px; }

.indent {
  margin-left: 1em; }

.clear {
  clear: both; }

a {
  color: #555; }
  a:hover {
    text-decoration: none;
    color: #222; }

/***********************
    HEADER
***********************/
header {
  background: #333;
  padding: 1em 0;
  border-bottom: 2px solid darkgoldenrod; }
  header .container .row .profile {
    float: left; }
    header .container .row .profile .profile-pic {
      width: 100%;
      border: .15em solid #888;
      padding: .25em;
      border-radius: 1em 0 1em 0; }
      header .container .row .profile .profile-pic:hover {
        border: .15em solid #fdeec9; }
    header .container .row .profile .profileInfo {
      display: none; }
  header .container .row .about-me blockquote {
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 20px;
    line-height: 1.45;
    position: relative;
    color: #fdeec9; }
    header .container .row .about-me blockquote::before {
      display: block;
      content: open-quote;
      font-size: 80px;
      position: absolute;
      left: -20px;
      top: -20px;
      color: #7a7a7a; }
    header .container .row .about-me blockquote::after {
      display: block;
      content: close-quote;
      font-size: 80px;
      position: absolute;
      right: 15px;
      bottom: -78px;
      color: #7a7a7a; }

/***********************
    TITLE
***********************/
.title {
  background: #fdeec9;
  padding: 1em 0;
  text-transform: uppercase;
  border-bottom: 2px solid #111;
  border-top: 2px solid #111;
  /* .developer {
      font-family: 'Ubuntu Mono', ;    
  }
  .meets {
      font-size: $font-size-h2;   
  }
  .designer {
      font-family: 'Satisfy', cursive;    
  } */ }
  .title h1 {
    margin: 0 auto;
    text-align: center;
    color: #111;
    font-size: 24px; }

/***********************
    CONTENT
***********************/
main {
  border-top: 2px solid darkgoldenrod; }

.main-content {
  padding: 2em; }
  .main-content h2 a {
    padding: 1em 0;
    font-size: 12px;
    color: #555;
    display: block;
    float: none; }
    .main-content h2 a:hover {
      text-decoration: none;
      color: #222; }
  .main-content .job {
    border-bottom: .1em solid #ccc;
    margin-bottom: 1em; }
  .main-content p .jobTitle {
    font-weight: bold;
    font-size: 18px; }
  .main-content p .web-link {
    padding: 1em 0;
    font-size: 12px;
    color: #555;
    display: block;
    float: none; }
    .main-content p .web-link:hover {
      text-decoration: none;
      color: #222; }
  .main-content .skills {
    background: #d9d9d9;
    padding: 1em;
    border: 1px solid #CCC;
    box-shadow: 5px 5px 8px #888; }
    .main-content .skills .social {
      width: 100%;
      text-align: center;
      padding: 0.5em 0 0 0;
      margin-bottom: 1em;
      border-top: 1px solid #CCC; }
      .main-content .skills .social img {
        width: 80%;
        margin-top: .5em; }
      .main-content .skills .social ul {
        list-style-type: none;
        margin: 0 auto;
        padding: .5em 0 0 0;
        color: #333;
        font-size: 18px; }
        .main-content .skills .social ul li {
          float: none;
          padding: 0 1em; }
        .main-content .skills .social ul a {
          color: #333; }
          .main-content .skills .social ul a:hover {
            color: #F00;
            text-decoration: none; }
    .main-content .skills .github {
      width: 100%;
      padding: .5em 0 0 0;
      margin-bottom: 1em;
      border-bottom: 1px solid #CCC; }
      .main-content .skills .github h4 {
        text-align: left;
        padding-left: 1em; }
      .main-content .skills .github ul {
        list-style-type: none; }
        .main-content .skills .github ul li {
          padding: .5em 0; }
          .main-content .skills .github ul li a {
            color: darkgoldenrod; }
            .main-content .skills .github ul li a:hover {
              text-decoration: none; }

/***********************
    FOOTER
***********************/
footer {
  background: #333;
  border-top: 2px solid #111;
  color: #7a7a7a; }
  footer h2 {
    font-size: 30px;
    margin: 0 auto;
    padding: 0; }
  footer .web {
    margin-top: .5em;
    border-bottom: 1px solid #444; }
  footer .mockups {
    margin-top: .5em;
    border-bottom: 1px solid #444; }
  footer .affilated {
    margin-top: .5em; }
  footer .personal {
    font-size: 30px; }
  footer .title {
    padding-top: 1.5em;
    padding-left: .5em;
    text-align: center;
    background: none;
    border: none;
    font-size: 24px; }
    footer .title span {
      color: #00a1dd; }
  footer ul {
    list-style-type: none;
    padding-top: 1em; }
    footer ul li {
      float: none;
      width: 100%;
      text-align: left;
      padding: 1em 0; }
      footer ul li img {
        width: 80%;
        opacity: .8; }
        footer ul li img:hover {
          opacity: 1; }
  footer .copyright {
    border-top: 1px solid #444;
    margin-top: 2em;
    padding: 1em; }
    footer .copyright p {
      text-align: center;
      color: #7a7a7a; }

/***********************
    MEDIA QUERIES
***********************/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h2 {
    font-size: 30px; }

  h3 {
    font-size: 24px; }

  h4 {
    font-size: 18px; }

  .contact-info {
    width: 100%;
    background: #444;
    border-bottom: .15em solid #999; }
    .contact-info ul {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      color: #aaaaaa;
      font-size: 18px; }
      .contact-info ul li {
        float: right;
        padding: .25em 1em; }
      .contact-info ul a {
        color: #aaaaaa; }
        .contact-info ul a:hover {
          color: #fdeec9;
          text-decoration: none; }

  .title h1 {
    font-size: 36px; }

  header .container .row .profile .profileInfo {
    display: none; }
  header .container .row .about-me blockquote {
    font-size: 30px;
    padding: .25em 40px; }
    header .container .row .about-me blockquote::before {
      font-size: 80px;
      position: absolute;
      left: -20px;
      top: -20px; }
    header .container .row .about-me blockquote::after {
      font-size: 80px;
      position: absolute;
      right: 50px;
      bottom: -60px; }

  /* MAIN */
  .main-content h2 a {
    float: right; }
  .main-content p .web-link {
    float: right; }
  .main-content .skills {
    padding: .5em 1em 1em 1em; }
    .main-content .skills .social h3 {
      font-size: 24px; }
    .main-content .skills .social img {
      width: 45%; }
    .main-content .skills .social ul {
      padding: 1em 0 0 0; }

  /* FOOTER */
  footer .web {
    border-bottom: none; }
  footer .mockups {
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: none;
    margin-top: .5em; }
  footer ul li {
    float: left;
    width: 30%;
    text-align: center; }
    footer ul li .webniobium {
      width: 100%; }
    footer ul li img {
      width: 90%; } }

/*# sourceMappingURL=custom.css.map */
